* {
  margin: 0;
  padding: 0; }

header.header1 {
  background-color: #212529; }
  header.header1 .container1 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
  header.header1 .logo1 a {
    padding: 0 20px;
    text-decoration: none;
    color: white;
    font-family: 'Anton', sans-serif; }
    header.header1 .logo1 a.time {
      margin-left: 500px; }

header.header2 {
  background-color: #f85a40; }
  header.header2 .container2 {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; }
    header.header2 .container2 .logo2 a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      font-size: 30px; }
    header.header2 .container2 .navbar ul {
      display: flex;
      list-style: none;
      margin-right: 60px; }
      header.header2 .container2 .navbar ul li a {
        padding: 0 20px;
        text-decoration: none;
        color: white;
        font-family: 'Crimson Text', serif; }
        header.header2 .container2 .navbar ul li a.last {
          border: 2px solid white;
          background: white;
          color: orangered;
          padding: 5px;
          border-radius: 5px; }

body {
  width: 100hv;
  justify-content: center;
  align-items: center;
  background-color: black; }

.slider {
  background: red, url(../img/tCft1ma.jpg) no-repeat center/cover;
  height: 650px;
  font-size: 40px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .slider h1 {
    color: white;
    width: 65%;
    text-align: center; }
