@import "mobile";

.container{
    max-width: 1200px;
    margin: auto;
}
.content{
    .container{
        .red{
            height: 100px;
            background: red;
            width: 33.333333%;
            @include rs-xs{
                width: 100%;
                background: green;
            }
        }
        .blue{
            height: 300px;
            background: blue;
        }
        .brown{
            display: flex;
            flex-wrap: wrap;
            .b-item{
                height: 100px;
                // background: brown;
                width: 33.3333%;
                @include rs-xs{
                    width: 100%;
                }
                @include rs-sm{
                    width: 50%;
                }
            }
        }
    }
}
